.App {
    padding: 10px;
}


.content {
    display: flex;
}

.Header {
    background-color: aqua;
}

.Menu {
    background-color: aliceblue;
    flex: 1 0 20%;
}

.Main {
    background-color: antiquewhite;
    flex: 1 1 80%;
}

.Users span {
    border: 1px solid black;
    margin: 0 2px;
}

.currentPage {
    font-weight: bold;
    font-size: 20px;

}