.App {

}

.Header {
    background-color: antiquewhite;
}

.content {
    display: flex;
}

.Menu {
    flex: 0 0 20%;
    background-color: #abc5ff;
}

.Main {
    flex: 0 0 80%;
    background-color: khaki;
}

.page {
    border: 1px solid black;
    margin: 0 2px;
}

.currentPage {
    font-weight: bold;
    font-size: 20px;
}